venv/*

.vercel

test_media/*

instance/*


node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Ignore all __pycache__ directories and compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

