venv/*

.vercel






node_modules
.env

# Hardhat files
/scroll-local/cache
/scroll-local/artifacts

# TypeChain files
/scroll-local/typechain
/scroll-local/typechain-types

# solidity-coverage files
/scroll-local/coverage
/scroll-local/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/scroll-local/ignition/deployments/chain-31337

# Ignore all __pycache__ directories and compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd



