<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Crypto App</title>
</head>
<body class="body">
    
    <div class="app_container">

        <div class="start_interface active_interface">
            <div class="landing_interface">
                <p>starting interface</p>
            </div>
        </div>
        <div  class="validate_number_interface inactive_interface">
            <div class="">
                <p>validate number interface</p>
            </div>
        </div>
        <div class="chat_listing_pad listing_pad inactive_interface">
            <div class="pad">
                <div class="pad_top">
                    <div class="pad_back">

                    </div>
                    <div class="pad_title">
                        <h5 class="pad_title_header">Chats</h5>
                    </div>
                    <div class="pad_add">

                    </div>
                </div>
                <div class="pad_list">
                    <p>chat interface</p>
                </div>
                <div class="pad_menu">

                </div>
            </div>
        </div>
        <div class="contact_listing_pad listing_pad inactive_interface">
            <div class="pad">
                <div class="pad_top">
                    <div class="pad_back">

                    </div>
                    <div class="pad_title">
                        <h5 class="pad_title_header">Contacts</h5>
                    </div>
                    <div class="pad_add">

                    </div>
                </div>
            </div>
            <div class="pad_list">
                <p>contacts interface</p>
            </div>
            <div class="pad_menu">

            </div>
        </div>
        <div class="call_listing_pad listing_pad inactive_interface">
            <div class="pad_top">
                <div class="pad_back">

                </div>
                <div class="pad_title">
                    <h5 class="pad_title_header">Calls</h5>
                </div>
                <div class="pad_add">

                </div>
            </div>
            <div class="pad_list">
                <p>call interface</p>
            </div>
            <div class="pad_menu">

            </div>
        </div>
        <div class="settings_interface inactive_interface">
            <div class="pad_top">
                <div class="pad_back">

                </div>
                <div class="pad_title">
                    <h5 class="pad_title_header">Settings</h5>
                </div>
                <div class="pad_add">

                </div>
            </div>
            <div class="pad_list">
                <p>settings interface</p>
            </div>
            <div class="pad_menu">

            </div>
            
        </div>
        <div class="primary_chat_interface inactive_interface">
            <div class="pad_top">
                <div class="pad_back">

                </div>
                <div class="pad_add">

                </div>
            </div>
            <div class="chat_interface">
                <p>primary chat interface</p>
            </div>
        </div>
        <div class="group_chat_interface inactive_interface">
            <div class="pad_top">
                <div class="pad_back">

                </div>
                <div class="pad_title">
                    <h5 class="pad_title_header">Group Title</h5>
                </div>
                <div class="pad_add">

                </div>
            </div>
            <div class="chat_interface">
                <p>group chat interface</p>
            </div>
        </div>
        <div class="upload_media_interface inactive_interface">
            <div class="pad_top">
                <div class="pad_back">

                </div>
                <div class="pad_title">
                    <h5 class="pad_title_header">Upload</h5>
                </div>
                <div class="pad_add">

                </div>
            </div>
            <div class="upload_interface">
                <p>upload interface</p>
            </div>
        </div>

    </div>

</body>
</html>