<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tele-Crypto</title>

    <!-- 🟢 PWA META TAGS -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#007AFF">
    
    
    <link rel="stylesheet" href="static/css/app.css">
    <script defer src="static/js/app.js"></script>
    <link rel="stylesheet" href="static/fontawesome-free-6.7.2-web/css/all.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

    <!-- 🟢 SERVICE WORKER REGISTRATION -->
    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("{{ url_for('static', filename='sw.js') }}")
            .then(() => console.log("Service Worker Registered"));
        }
    </script>
    
</head>
<body class="body">
</body>
</html>
